<div class="scroll-up-btn">
    <i class="fa fa-angle-up"></i>
</div>
<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#">{{usuario.nombre}}.Dev</a></div>
        <ul class="menu">
            <li><a href="#home" class="menu-btn">Home</a></li>
            <li><a href="#about" class="menu-btn">Sobre mí</a></li>
            <li><a href="#skills" class="menu-btn">Skills</a></li>
            <li><a href="#services" class="menu-btn">Portfolio</a></li>
            <li><a href="#contact" class="menu-btn">Contact</a></li>
            <li><a class="menu-btn " (click)="login()" *ngIf="!isLogged">Login</a></li>
            <li><a class="menu-btn " (click)="logout()" *ngIf="isLogged">Cerrar Cesion</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>