<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Carlos.Dev</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-coffee"></i>Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-user-circle-o"></i>Sobres Mí</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-briefcase"></i>Experiencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fa fa-book"></i>Educación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-modal" href="javascript:void(0);"><i class="fa fa-sign-in"></i>Login</a>
            </li>
        </ul>
    </div>
</nav>

<section class="modal ">
    <div class="modal-container">
        <h2 class="modal-title">!Bienveido al sitio!</h2>
        <p class="modal-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, eligendi
            accusantium ut doloremque, itaque harum iste blanditiis unde, numquam animi illum. Quia corporis
            consequuntur inventore.</p>
        <a href="#" class="modal-close">Cerrar Modal</a>
    </div>
</section>