<!-- SERVICE SECTION -->
<section class="services mt-5" id="services">
    <div class="max-width">
        <h2 class="title">Mis servicios</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fa fa-code"></i>
                    <div class="text">Web Apps and Software</div>
                    <p>Construyo sitios web rápidos e interactivos. Uso Angular, Java, Node JS en el lado de Back-End.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fa fa-mobile"></i>
                    <div class="text">RESPONSIVE</div>
                    <p>
                        Tengo un conocimiento práctico de la redacción de dibujos mecánicos y
                        crear modelos 3D en SolidWork
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fa fa-database"></i>
                    <div class="text">Data Analyst</div>
                    <p>
                        Actualmente me estoy familiarizando con la ciencia de datos y la máquina.
                        tecnologías de aprendizaje
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>