<!-- SERVICE SECTION -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">Mis servicios</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fa fa-code"></i>
                    <div class="text">Web Apps and Software</div>
                    <p>
                        Using Front-End libraries, I build fast, interactive websites. I
                        use Node JS and Express app in Back-End side.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fa fa-mobile"></i>
                    <div class="text">RESPONSIVE</div>
                    <p>
                        I have a working knowledge of drafting mechanical drawings and
                        creating 3D models in SolidWork
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="box"> 
                    <i class="fa fa-pencil-square"></i>
                    <div class="text">Web Design</div>
                    <p>
                        I am currently getting fimiliar with data science and machine
                        learning technologies
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>