@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: burlywood;
  padding: 10px;
}

.container {
  margin: 20px auto;
}

p {
  margin: 0%;
  font-size: 15px;
  font-weight: 600;
}

img.pic1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

img.pic2 {
  width: 100%;
  height: 624px;
  object-fit: fill;
}

.image-top {
  position: relative;
  overflow: hidden;
}

.image-top .overlay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 15px 0 15px 15px;
  color: white;
}

.image-top:hover .overlay {
  backdrop-filter: blur(15px);
  transition: all 0.3s ease-out;
}

.image-top .overlay::before {
  content: "";
  background: #ffff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -80px;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.image-top:hover .overlay::before {
  bottom: 0px;
  opacity: 0.3;
  cursor: pointer;
}

.image-middle {
  position: relative;
  overflow: hidden;
}

.image-middle .overlay {
  position: absolute;
  bottom: 0px;
  padding: 15px 0 15px 15px;
  width: 100%;
  color: white;
}

.image-middle .overlay::before {
  content: "";
  background: #ffff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -150px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.image-middle:hover .overlay::before {
  bottom: 0px;
  opacity: 0.3;
  cursor: pointer;
}

.image-middle:hover .overlay {
  backdrop-filter: blur(15px);
  transition: all 0.3s ease-out;
}

.text-muted {
  color: #e5e2e2 !important;
}

@media (max-width: 930px) {
  img.pic2 {
    height: 300px !important;
    object-fit: cover;
  }

  P {
    font-size: 16px;
  }
}
