<!-- SKILLS SECTION -->
<section class="skills mb-5" id="skills">
    <div class="max-width">
        <h2 class="title">Mis skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">Mis skills & experiencia.</div>
                <p>
                    I am currently learning from curriculum of FreeCodeCamp and
                    youtube channel CodeWithHarry.
                </p>
                <a href="https://www.freecodecamp.org/sarfarazkhan" target="_blank">FreeCodeCamp<i
                        class="fa fa-free-code-camp"></i></a>
            </div>
            <div class="column right">
                <div class="bars" *ngFor="let skill of habilidades">
                    <div class="info">
                        <span> {{skill.nombreHab}}</span>
                        <span>{{skill.porcentaje}}%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <!-- <div class="bars">
                    <div class="info">
                        <span>Front-End Development</span>
                        <span>80%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Back-End Development</span>
                        <span>85%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Database & Testing</span>
                        <span>60%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>3D-Modeling</span>
                        <span>75%</span>
                    </div>
                    <div class="line mysql"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>