<!-- ABOUT SECTION -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">Sobre mi</h2>
        <div class="about-content">
            <div class="column left">
                <img src="https://i.ibb.co/519RzY5/Profile-Toon.jpg" alt="" />
            </div>
            <div class="column right">
                <div class="text">
                    Yo soy {{usuario.nombre}} and I'm a <span class="typing-2">Desarrollador de Software</span>
                </div>
                <p>
                    Graduated with a Bachelor's degree in Mechanical Engineering as I
                    completed my final year research-based project on Computational
                    Fluid Dynamic Analysis on Helical Coil Heat Exchanger using ANSYS
                    Fluent software and completed 6 months industry internship at
                    Water Resource Department. I worked at WirCab Machines as a design
                    engineer where I got proficient with AutoCAD and SolidWorks. Now I
                    am a Full-Stack Web Developer and exploring the world of
                    programming.{{usuario.descripcion}}
                </p>
                <a href="https://drive.google.com/file/d/1nphjZ5DbAGzRQjQbm1TIZ2xN1CM1EPZV/view?usp=sharing"
                    target="_blank">Download Resume</a>
            </div>
        </div>
    </div>
</section>